{% extends 'base.html' %}
{% block title %}Coffee and Wifi{% endblock %}

{% block content %}
    <div class="jumbotron text-center">
        <div class="container">
          <h1 class="display-4">☕️ Coffee & Wifi 💻</h1>
          <p class="lead">Want to work in a cafe but need powerful wi-fi?</p>
          <p class="lead">You've found the right place! Checkout my collection of cafes with wi-fi speed and coffee quality.</p>
          <a class="btn btn-lg" href="{{ url_for('cafes')}}" role="button">Show Me!</a>
        </div>
    </div>
{% endblock %}
